{% extends "base.html.twig" %}

{% block body %}
    <h3>Confirmation</h3>
    <p>Your request was successfully registered</p>
    <p>For any further request refer it using the following code</p>
    <p class="align-content-center"><strong>{{ speaker.create_at|date("z") }}-{{ speaker.id }}</strong></p>
{% endblock %}